
@font-face {
	font-family: "Optimist", Arial, Helvetica;
	font-weight: 400;
	src: url("./assets/font/Optimist_W_Rg.woff") format('woff');
	src: url('https://www.capitalone.com/assets/enterprise/fonts/Optimist_W_Rg.woff2') format("woff2");
	src: url('./assets/font/Optimist_W_Rg.ttf') format('trutype');
	src: url('http://www.capitalone.com/assets/enterprise/fonts/Optimist_W_Rg.eot?#iefix') format('eot');
}

@font-face {
	font-family: "Optimist Light", Arial, Helvetica;
	src: url("./assets/font/Optimist_W_Lt.woff") format('woff');
	src: url("https://www.capitalone.com/assets/enterprise/fonts/Optimist_W_Lt.woff2") format("woff2");
	src: url("./assets/font/Optimist_W_Lt.ttf") format('trutype');
	src: url("http://www.capitalone.com/assets/enterprise/fonts/Optimist_W_Lt.eot?#iefix") format('eot');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Optimist Bold', Arial, Helvetica;
	src: url('./assets/font/Optimist_W_Bd.woff') format('woff');
	src: url('https://www.capitalone.com/assets/enterprise/fonts/Optimist_W_Bd.woff2') format("woff2");
	src: url('./assets/font/Optimist_W_Bd.ttf') format('trutype');
	src: url('http://www.capitalone.com/assets/enterprise/fonts/Optimist_W_Bd.eot?#iefix') format('eot');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: "Optimist", Helvetica, sans-serif;
}


a, a:visited, a:hover, a:active {
	text-decoration: none;
}


/**/


#nav {
	background-color: #ddd;
    height: 48px;
    position: relative;
    left: 0;
    display: block;
}

.bg-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0;
}

.hero a {
	background-image: none;
	display: block;
	position: relative;
	top: 50%;
    margin: 250px auto 0;
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-position: center;
}

.play a {
	background-image: url('./assets/play_button.svg');
}

.text-xs-left {
    text-align: right!important;
}

.gallery {
	padding: 0 10%;
}

.gallery img {
	width: 100%;
}

.gallery div {
	padding: 5% 10%;
}

.content-card {
	background-color: #ddd;
	padding: 50px;
	/*width: 49%;*/
	background-size: cover;
	min-height: 300px;
}

.content-card:hover {
	/*pull up name*/
}

.content-card .row:second-child {
	padding-top: 0px;
}

.landing .content-card {
	height: 400px;
	width: 48%;
	margin: 5px 5px;
	border-radius: 8px;
}

.landing2 {
	padding-bottom: 10%;
}

.landing2 .content-card {
	width: 32%;
	margin: 6px 6px;
	border-radius: 8px;
	height: 200px;
}

.landing2 .content-card:hover {

}

.content-card img {
	width: 100%;
	height: auto;
	display: block;
}

.card-words > div {
	min-height: 70px;
	position: relative;
}

.card-words > div h3 {
	bottom: 0;
	position: absolute;
}

.card-words {
	padding-top: 40%;
}

.response-card {
	background-color: #fff;
	border: 2px solid #eee;
	padding: 40px;
	min-height: 300px;
	position: relative;
}

.response-card .row {
	bottom: 40px;
	position: absolute;
}

.user {
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	vertical-align: middle;
}

.user + h6 {
	display: inline-block;
	padding-left: 10px;
	text-transform: uppercase;
	font-weight: 600;
	color: #474D53;
	letter-spacing: 0.25pt;
}

.button-wrapper {
	padding-top: 15px;
}

.emoji img {
	text-align: center;
	display: block;
	margin: 0 auto;
}

.emoji h6 {
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-size: 8pt;
	letter-spacing: 0.75pt
}

.cta-form {
	padding: 25px;
	font-size: 12pt;
}

a.standard-cta-button,
button.standard-cta-button {
	padding: 12px 20px;
	text-transform: uppercase;
	letter-spacing: 1pt;
	border-radius: 25px;
	margin-top: 30px;
	font-size: 9pt;
	/*float: right;*/
}

a.standard-cta-button:hover,
button.standard-cta-button {
}

.blue, 
.blue:visited {
	background-color: #0D3C60;
	color: #fff;
}

.white,
.white:visited {
	background-color: #fff;
	color: #0D3C60;
	border: 1px solid #0D3C60;
}

.red,
.red:visited {
	background-color: #D33D3F;
	color: #fff;
}

.footer {
	position: static;
	height: auto;
	padding: 10rem 0 4rem;
}

.footer .row {
	/*margin-left: 0;*/
}

.logo {
    background-image: url('./assets/footer-logos.png');
    background-repeat: no-repeat;
    background-position: 0 -10.6em;
    width: 115px;
    height: 3.5em;
    display: block;
    overflow: hidden;
    text-indent: -999em;
}


/*TYPE*/

h1 {
	font-weight: 500;
	font-size: 70pt;
	margin: 3rem auto;
	color:#fff;
	padding: 20% 10%;
	line-height: 1.5;
}

h1 span {
	font-weight: 800;
}

/*This is for title — Catch phrase, title of content*/
h2 {
	/*font-family: 'Optimist Light', Arial, Helvetica;*/
	font-weight: 100;
	font-size: 33pt;
	color: #fff;
}


/*This is for description of content – content description */
h3 {
	/*font-family: 'Optimist Bold', Helvetica, sans-serif;*/
	font-weight: 600;
	font-size: 20pt;
	margin-top: 0px;
	line-height: 1.25
}


h3 span {
	color: #333;
}


/*This is for headers of each section - What others said... Explore more stories*/
h4 {
	font-weight: 600;
	font-size: 15pt;
}


/*This is for Questions/prompts*/
h5 {
	font-weight: 100;
	font-size: 12pt;
	line-height:1.5;
}

/*This is for Names/profile*/
h6 {
	font-weight: 500;
	font-size: 10pt;
}


/*This is for general paragaraph - Article paragraph, sample answers to prompts, call to action description, about page...
*/
p {
	font-weight: 500;
	font-size: 13pt;
    	margin: 0 0 10px;
    	color: #666;
}

.bg-image h5 {
	font-weight: 100;
}

.content-card h3 {
	color: #fff;
	font-weight: 900;
}

.content-card h5 {
	color: #fff;
	font-weight: 100;
	font-size: 10pt;
}

.content-card p {
	color: #fff;
	font-weight: 100;
	font-size: 12pt;
}

.prototype .response-card h4 {
	/*padding-left: 30pt;*/
	font-size: 20pt;
	color: #333;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

.prototype .response-card {
	background-color: #eee;
}


#videoElement {
	width: 800px; height:800px; 
}


@media (min-width: 1200px) {
	.container {
    width: 1024px;
}

@media (min-width: 992px) {

.astra-hero-banner {
    height: 700px;
}

.gallery div {
	padding: 5% 0;
}


}

